body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 40px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}


.middle-container {}

.bottom-container {}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
a {
    color: #11999E;
}

.skill-row {
    width: 53%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.java-img {
    width: 55%;
    float: left;
    margin-right: 30px;
}

.code-img {
    width: 55%;
    float: right;
    margin-left: 30px;
}

